<?php
$content = $this->getLoadedLinklayHashCodeCollection();
$text_align = $this->getLoadedLinklayAlignment();
$atts_class = $this->getLoadedLinklayClass();
?>
<div class="linklay">
    <?php
    function linklayembed_imgsize($image) 
    {
        if (ini_get('allow_url_fopen')) 
        {
            return @getimagesize($image);
        } else {
            return null;
        }
    }

    if (empty($content) && $content === null) 
    {
        echo '';
    } else 
    {
        $image = "https://linklayimages.cachefly.net/" . $content;
        $linklay = "https://linklayassets.cachefly.net/embed_cloud.html?uuid_hash=" . $content;
        $base_url = "https://linklay.com/app/";
        $script_src = "https://linklayassets.cachefly.net/responsive.js";

        if ($imgsize = linklayembed_imgsize($image)) {
            list($imgwidth, $imgheight) = $imgsize;
        } else {
            $imgwidth = $imgheight = 0;
        }
        $class = !empty($atts_class) ? 'class="' . $atts_class . '" ' : '';
        $align = $text_align;
        $markup = <<<EOD
          <div {$class}style="{$align}margin:0px; padding:0px; flex: 1 1 0%; position:relative;">
            <iframe width="{$imgwidth}" height="{$imgheight}" style="overflow:hidden;margin-top:-0px;" src="{$linklay}&base_url={$base_url}" allowtransparency="true" frameborder="0">
            </iframe>
            <script src="{$script_src}" onerror="javascript:var el = this.parentElement; el.innerHTML=''; var imgEl = document.createElement( 'img' ); imgEl.src='{$image}'; imgEl.style.width='100%'; imgEl.style.maxWidth='{$imgwidth}px'; el.appendChild( imgEl );window.dispatchEvent(new Event('resize'));" >
            </script>
          </div>
EOD;
    }
    echo $markup;
    ?>

</div>
